.calculator {
    margin: 50px auto;
    width: 190px;
    border: 1px solid hwb(0 94% 4%);
    border-radius: 10px;
    padding: 10px;
    background-color:hwb(0 0% 100%);
  }
  
  input {
    display: block;
    margin: 10px auto;
    width: 95%;
    height: 40px;
    font-size: 24px;
    text-align: right;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  button {
    flex: 1;
    height: 50px;
    font-size: 26px;
    border-radius: 90px;
    border: none;
    margin: 5px;
    background-color:yellow;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8d8686;
  }
  